NETWORK=NETWORK_NAME_HERE                              // e.g., LNET , POLYGON_AMOY    
RELAYER_PK=your_relayer_private_key_here_whitout_0x.   // in this example we will use this key for deployment and relayer , but consider using a different one for production
SENDER_PK=your_sender_private_key_here_whitout_0x.     // this key will be used to sign meta-transactions
RPC_URL=https://rpc-amoy.polygon.technology/           // any evm rpc compatible node
HUB_ADDRESS=PermiddionedMetaTxHub_addres_with_0x.      // address of the deployed PermissionedMetaTxHub contract 
